# Uygulama Ayarları
PORT=3000
NODE_ENV=development

# Veritabanı Ayarları
DB_USER=admin
DB_PASSWORD=password123
DB_NAME=devops_db
DATABASE_URL=postgres://admin:password123@db:5432/devops_db

# Güvenlik
JWT_SECRET=supersecretkey_degistirmeyi_unutma
